ShareTradingSystem/WebContent/wsdl/Sharebuy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.train.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.train.com" xmlns:intf="http://service.ws.train.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.train.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getShare">
    <complexType>
     <sequence>
      <element name="shareName" type="xsd:string"/>
      <element name="shareqntity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getShareResponse">
    <complexType>
     <sequence>
      <element name="getShareReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getShareRequest">

      <wsdl:part element="impl:getShare" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getShareResponse">

      <wsdl:part element="impl:getShareResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Sharebuy">

      <wsdl:operation name="getShare">

         <wsdl:input message="impl:getShareRequest" name="getShareRequest">

       </wsdl:input>

         <wsdl:output message="impl:getShareResponse" name="getShareResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SharebuySoapBinding" type="impl:Sharebuy">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getShare">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getShareRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getShareResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SharebuyService">

      <wsdl:port binding="impl:SharebuySoapBinding" name="Sharebuy">

         <wsdlsoap:address location="http://localhost:8080/ShareTradingSystem/services/Sharebuy"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
