ShareTradingSystem/WebContent/wsdl/StockTrading.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.train.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.train.com" xmlns:intf="http://service.ws.train.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.train.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getQuote">
    <complexType>
     <sequence>
      <element name="shareName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuoteResponse">
    <complexType>
     <sequence>
      <element name="getQuoteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuoteRequest">

      <wsdl:part element="impl:getQuote" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuoteResponse">

      <wsdl:part element="impl:getQuoteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StockTrading">

      <wsdl:operation name="getQuote">

         <wsdl:input message="impl:getQuoteRequest" name="getQuoteRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuoteResponse" name="getQuoteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockTradingSoapBinding" type="impl:StockTrading">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockTradingService">

      <wsdl:port binding="impl:StockTradingSoapBinding" name="StockTrading">

         <wsdlsoap:address location="http://localhost:8080/ShareTradingSystem/services/StockTrading"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
